{% extends "cv/base.html" %}

{% load static %}

{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Agresso</h1>
        </div>
    </div>
<!--
<table width="100%">
  {% for idx, row in classes.iterrows %}
    <tr>
      <td><p>{{ row.DATE|date:'Y-m-d' }}</p></td>
      <td><p>{{ row.CLUB }}</p></td>
      <td><p>{{ row.CLASS }}</p></td>
  </tr>
  {% endfor %}
</table>
-->

<table>
  <tr>
    <td width="10%" >Clube</td>
    <td width="2%" >Duração</td>
    <td width="2%" >LWP</td>
    {% for col in agresso.columns %}
      <td width="2%" bgcolor="#ADD8E6">
        {{col}}
      </td>
    {% endfor %}
  </tr>
    {% for index, row in agresso.iterrows %}
      <tr>
        <td width="10%">
          {{index.0}}
        </td>
          <td width="2%">
            {{index.1}}
          </td>
            <td width="2%">
              {{index.2}}
            </td>
        {% for cell in row %}
          <td width="2%">
            {{cell}}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
</table>

{% endblock %}
